body {
    font-family: Arial, sans-serif;
    background-image: radial-gradient(circle 800px, #6437b7, #4d338a, #2b2a2c);
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    max-width: 800px; /* Ajusta el ancho máximo del contenedor */
}

.header-image {
    position: absolute;
    top: 10px; /* Mueve la imagen hacia arriba */
    right: 20px; /* Mueve la imagen hacia la derecha */
    
}

.header-image img {
    width: 100%; /* Haz que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantén la proporción original de la imagen */
    max-width: 200px; /* Establece un ancho máximo opcional */
    
    
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 30px;
    position: relative;
    z-index: 0; /* Asegura que la card esté detrás de la imagen */
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #dc3545;
    margin-bottom: 20px;
    text-align: center;
}

.card-text {
    font-size: 18px;
    margin-bottom: 30px;
    color: #6c757d;
    text-align: center;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn {
    flex: 1;
    margin: 0 5px;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}