body {
    padding-top: 20px;
    background-color: #2d2d93; /* Color de fondo */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    border-radius: 10px;
    background-color: #fff; /* Color de fondo de la tarjeta */
}
.header-titles{
    text-align: center;
    color: white;
    margin-top: 20px;
}
.card-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Color del título */
}
.card p{
    text-transform: uppercase;
    margin:1%;
}
.card h4{
    font-size: 25px;
    text-align: center;
}
.card span{
    text-transform: none;
    padding-left: 10px;
}
.btn-actions {
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px ;
    font-size: 15px;
    font-weight:bolder;
    height: 30px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}
.btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;

}
