body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: radial-gradient(circle 800px,#6437b7,#4d338a, #2b2a2c);
    background-color: #4C3DA8;

}

.container {
    
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(97, 11, 11, 0.1);
    border-radius: 8px; 
    max-width: 70%; /* Tamaño del contendor ancho */
    margin: 20px ;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #000000;
    padding: 5px;
    text-align: left;
}

th {
    background-color: rgba(242, 242, 242, 0.8);
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 32px;
}

.btn-primary {
    background-color: #4C3DA8; /* Color de fondo azul */
    color: white;              /* Color del texto blanco */
    border: none;              /* Sin borde */
    padding: 10px 20px;        /* Relleno del botón */
    text-align: center;        /* Alineación del texto */
    text-decoration: none;     /* Sin subrayado */
    display: inline-block;     /* Mostrar como bloque en línea */
    font-size: 16px;           /* Tamaño de la fuente */
    margin: 4px 2px;           /* Margen */
    cursor: pointer;           /* Cambia el cursor al pasar sobre el botón */
    border-radius: 8px;        /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.btn-primary:hover {
    background-color: #2f9edf; /* Color de fondo al pasar el ratón */
}
.btn-secondary {
    background-color: #6c757d; /* Color de fondo gris */
    color: white;              /* Color del texto blanco */
    border: none;              /* Sin borde */
    padding: 10px 20px;        /* Relleno del botón */
    text-align: center;        /* Alineación del texto */
    text-decoration: none;     /* Sin subrayado */
    display: inline-block;     /* Mostrar como bloque en línea */
    font-size: 16px;           /* Tamaño de la fuente */
    margin: 4px 2px;           /* Margen */
    cursor: pointer;           /* Cambia el cursor al pasar sobre el botón */
    border-radius: 8px;        /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.btn-secondary:hover {
    background-color: #5a6268; /* Color de fondo al pasar el ratón */
}

label {
    color: #000000;
    margin: 0;
}

table {
    width: 100%;
}

table th, table td {
    padding: 10px;
}

table td label {
    display: block;
    margin-bottom: 5px;
}
table input[type="text"],
table textarea,
table select {
    width: 100%; /* Hacer que los campos de texto, textarea y select ocupen el 100% del ancho de la celda */
    max-width: 100%; /* Evita que el campo sea más ancho que su contenedor */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #e7c7c7;
    border-radius: 4px;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

table textarea {
    height: 50px; /* Puedes ajustar la altura según sea necesario */
}



.header-titles{
    text-align: center;
    color: white;
    margin-top: 20px;
}

.header-image {
    position: absolute;
    top: 10px; /* Mueve la imagen hacia arriba */
    right: 20px; /* Mueve la imagen hacia la derecha */
}

.header-image img {
    width: 100%; /* Haz que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantén la proporción original de la imagen */
    max-width: 200px; /* Establece un ancho máximo opcional */
}


