{% extends "./main.html"%}
{% block title %} Gestion de tickets {% endblock %}
{% block body %}
<h1>esto es parte</h1>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" >

    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Gestion de tickets</h1>
        <div class="card">
            <div class="card-body">
                <form action="/registrarticket/{% if ticket.id %}{{ ticket.id }}/{% endif %}" method="post">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="asunto" name="asunto" class="form-control" value="{{ticket.asunto}}" placeholder="asunto", required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="descripcion" name="descripcion" class="form-control" value="{{ticket.descripcion}}" placeholder="Descripcion", required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="departamento" name="departamento" class="form-control" value="{{ticket.departamento}}" placeholder="Departamento", required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="estado"  name="estado" class="form-control" value="{{ticket.estado}}" placeholder="Estado", required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="fecha" name="fecha" class="form-control" value="{{ticket.fecha}}" placeholder="Fecha">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success  btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>      
            
        <div class="tabla-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Asunto</th>
                        <th>Descripcion</th>
                        <th>Departamento</th>
                        <th>Estado</th>
                        <th>Fecha </th>
                        <th colspan="">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in tickets%}
                    <tr>
                        <td>{{t.asunto}}</td>
                        <td>{{t.descripcion}}</td>
                        <td>{{t.departamento}}</td>
                        <td>{{t.estado}}</td>
                        <td>{{t.fecha}}</td>
                        <td><a href="registrarticket/{{t.id}}" class="btn btn-info">editar</a></td>
                        <td><a href="eliminarticket/{{t.id}}" class="btn btn-danger">eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}