{% load static %}
<!--Ingreso de el html actualizar-->
<!DOCTYPE html>
<html>
<head>
    <title>Actualizar Modelo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style_actualizar.css' %}">
</head>
<body>
    <div class="header">
        <div class="header-titles">
            <h5>REPÚBLICA DEL ECUADOR</h5>
            <h5>INSTITUTO NACIONAL DE METEOROLOGIA E HIDROLOGIA -INAMHI</h5>
        </div>
    </div>
    <div class="container">
        <div class="header-image">
            <img src="../static/img/icono-inamhi.png" alt="">
        </div>
        <h1>Editar</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {{ form.as_table }}
                </tbody>
            </table>
            <div class="button-container">
                <button class="btn btn-secondary"><i class="fas fa-save"></i>Guardar</button>
                <button type="button" onclick="window.history.back()" class="btn btn-primary">Cancelar</button>
            </div>
        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
