{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de API</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/model_detail.css' %}">
    <style>
        .btn-download {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <h2 class="card-title">Información de API</h2>
            ------------------------------------------------------------------------------------
            {% if api %}
                <p><strong>Nombre del Servicio HTTPS:</strong> <span>{{ api.NombreServicioHttps }}</span> </p>
                <p><strong>Descripción:</strong> <span>{{ api.Descripcion }}</span></p>
                <p><strong>IP:</strong> <span>{{ api.Ip }}</span></p>
                <p><strong>Puerto:</strong> <span>{{ api.puerto }}</span></p>

                
            {% else %}
                <p>El objeto solicitado no existe o no se encontró.</p>
            {% endif %}
            <div class="container btn-container">
                <a onclick="window.history.back()" class="btn btn-secondary btn-actions mr-2">Volver</a>
                {% if perms.myapp.change_mymodel %}
                <a href="{% url 'apis_update' api.pk %}" class="btn btn-warning btn-actions mr-2">Editar</a>
                {% endif %}
                {% if perms.myapp.delete_mymodel %}
                <a href="{% url 'apis_delete' api.pk %}" class="btn btn-danger btn-actions mr-2">Eliminar</a>
                {% endif %}
            </div>
        </div>
    </div>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
