<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="./utilities/styles/style_login.css">

    <title>Login y Registro</title>
    <link rel="stylesheet" href="../templates/utilities/styles/style_login.css">

</head>
<body>
  
 <!-- para controlar el proyecto  -->
<main>

    <div class="Contenedor_todo">
        <!-- //esta es la caja trasera del Login  -->
        <div class="caja_trasera">
            <div class="caja__trasera-login">
                <!-- <h3>¿Ya estas REgistrado?</h3> -->
                <!-- <p> Ingrese Usuario y contraseñapara ingresar  </p> -->
                <!-- <button id="btn_inicio">Iniciar Sesion</button> -->
                <img src="../templates/imagenes/logo.png" alt="">
            </div>
            <!-- //esta es la caja trasera del registro  -->
            <div class="caja__trasera-registro">
                <!-- <h3>REGISTRARSE</h3> -->
                <!-- <p>Registrarse para que pueda Ingresar</p> -->
                <!-- <button id="btn__registro">Registrarse</button> -->
            </div>
        </div>
            <!-- contenedor de los formularios -->
        <div class="contenedor__login-register">
            <!-- formulario de inicio de sesion  -->
            <form action="" class="formulario__login">

                <h2>IScrakpuy</h2>
                <input type="text" placeholder="Usuario">
                <input type="password" placeholder="Contraseña">
                <button>entrar</button>
            </form>
            <!-- sformulario del registro  -->
            <form class="formulario__registro">
                <h2>Registrarse</h2>
                <input type="text" placeholder="Nombre completo ">
                <input type="text" placeholder="correo electronico">
                <input type="text" placeholder="usuario">
                <input type="password" placeholder="contraseña">
                <button>Registrarse</button>
            </form>
        
        </div>
        
    </div>

</main>
<!-- para vincular con el javascript -->
<!-- <script src="../templates/utilities/logica/logica_uc.js"></script> -->
</body>
</html>