<!-- templates/nodos/nodos_detail.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Nodo</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/model_detail.css' %}">
    <style>
        .btn-download {
            margin-top: 10px;
        }
        .btn-actions {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Detalles de Nodo</h1>
                -----------------------------------------------------------------------------
                <p><strong>Host:</strong> <span>{{ nodo.Host }}</span></p>
                <p><strong>Usuario:</strong> <span>{{ nodo.Usuario }}</span></p>
                <p><strong>Ram:</strong> <span>{{ nodo.Ram }}</span></p>
                <p><strong>Disco:</strong> <span>{{ nodo.Disco }}</span></p>
                <p><strong>Sistema Operativo:</strong> <span>{{ nodo.SistemaOperativo }}</span></p>
                <p><strong>Descripción:</strong> <span>{{ nodo.Descripcion }}</span></p>
                <p><strong>Contraseña:</strong> <span>{{ nodo.Contrasena }}</span></p>
                
                <div class="container btn-container">
                    <button type="button" onclick="window.history.back()" class="btn btn-secondary btn-actions mr-2"><i class="fas fa-undo"></i> Volver</button>
                    <a href="{% url 'nodos_update' nodo.pk %}" class="btn btn-warning btn-actions mr-2"><i class="fas fa-edit"></i> Editar</a>
                    <a href="{% url 'nodos_delete' nodo.pk %}" class="btn btn-danger btn-actions mr-2"><i class="fas fa-trash-alt"></i> Eliminar</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
