{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Formulario</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/model_detail.css' %}">
    <style>
        .btn-download {
            margin-top: 10px;
        }
        .btn-actions {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="header-titles">
        <h5>REPÚBLICA DEL ECUADOR</h5>
        <h5>INSTITUTO NACIONAL DE METEOROLOGIA E HIDROLOGIA -INAMHI</h5>
    </div>
    <div class="container mt-4">    
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Detalles del Formulario</h1>
                -----------------------------------------------------------------------------
                <p><strong>Nombre del Servidor:</strong> <span>{{ formulario.NombreServidor }}</span></p>
                <p><strong>Ubicacion:</strong> <span>{{ formulario.Ubicacion }}</span></p>
                <p><strong>Marca:</strong> <span>{{ formulario.Marca }}</span></p>
                <p><strong>Modelo:</strong> <span>{{ formulario.Modelo }}</span></p>
                <p><strong>Numero de Serie:</strong> <span>{{ formulario.NumeroSerie }}</span></p>
                <p><strong>Sistema Operativo:</strong> <span>{{ formulario.SistemaOperativo }}</span></p>
                <p><strong>Puerto Relevante:</strong> <span>{{ formulario.PuertoRelevante }}</span></p>
                <p><strong>Entorno:</strong> <span>{{ formulario.Entorno }}</span></p>
                <p><strong>Estado:</strong> <span>{{ formulario.Estado }}</span></p>
                <p><strong>Direccion Ip Local:</strong> <span>{{ formulario.DireccionIpLocal }}</span></p>
                <p><strong>Direccion Ip Publica:</strong> <span>{{ formulario.DireccionIpPublica }}</span></p>
                <p><strong>Usuario:</strong> <span>{{ formulario.Usuario }}</span></p>
                <p><strong>Clave:</strong> <span>{{ formulario.Clave }}</span></p>
                <p><strong>Descripcion de Procesos:</strong> <span>{{ formulario.DescripcionProcesos }}</span></p>


                <div class="container btn-container">
                    <button type="button" onclick="window.history.back()" class="btn btn-secondary btn-actions mr-2"></i> Volver</button>
                    <a href="{% url 'formulario_update' formulario.pk %}" class="btn btn-warning btn-actions mr-2">Editar</a>
                    <a href="{% url 'formulario_delete' formulario.pk %}" class="btn btn-danger btn-actions mr-2"> Eliminar</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>