<!-- templates/subdominios/subdominio_detail.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Subdominio</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/model_detail.css' %}">
    <style>
        .btn-download {
            margin-top: 10px;
        }
        .btn-actions {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="header-titles">
        <h5>REPÚBLICA DEL ECUADOR</h5>
        <h5>INSTITUTO NACIONAL DE METEOROLOGIA E HIDROLOGIA -INAMHI</h5>
    </div>
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Detalles del Subdominio</h2>
                -----------------------------------------------------------------------------
                <p><strong>ID:</strong> <span>{{ subdominio.Id }}</span></p>
                <p><strong>Nombre:</strong> <span>{{ subdominio.Nombre }}</span></p>
                <p><strong>IP Pública:</strong> <span>{{ subdominio.IpPublica }}</span></p>
                <p><strong>IP Interna:</strong> <span>{{ subdominio.IpInterna }}</span></p>
                <p><strong>Host:</strong> <span>{{ subdominio.Host }}</span></p>
                
                <div class="container btn-container">
                    <button type="button" onclick="window.history.back()" class="btn btn-secondary btn-actions mr-2"><i class="fas fa-undo"></i> Volver</button>
                    <a href="{% url 'subdominios_update' subdominio.pk %}" class="btn btn-warning btn-actions mr-2"><i class="fas fa-edit"></i> Editar</a>
                    <a href="{% url 'subdominios_delete' subdominio.pk %}" class="btn btn-danger btn-actions mr-2"><i class="fas fa-trash-alt"></i> Eliminar</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
